@using Ciber.Model
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@if (Model != null)
{
    <div class="card">
        <div class="card-header">
            <h2>Manage Orders</h2>
        </div>
        <div class="card-body">
            @*@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }*@
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th class="text-center">OrderID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.CustomerName</td>
                            <td class="text-center">@item.CustomerPhone</td>
                            <td class="text-center">@item.Address</td>
                            <td class="text-center">@item.Status.ToString()</td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page}),
                        new PagedListRenderOptions
                        {
                            DisplayItemSliceAndTotal = true,
                            ContainerDivClasses = new[] {"navigation"},
                            LiElementClasses = new[] {"page-item"},
                            PageClasses = new[] {"page-link"},
                        })
        </div>
    </div>
    <a href="/Orders/Create">Create New Order</a>
}
else
{
    <span>Not found orders</span>
}
