@model Ciber.Model.Product

@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container">
    <div class="session-cart">
        <h2 class="heading">Giỏ hàng của bạn</h2>
        <div class="table-cart">
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in ViewBag.carts) {
                        int total = item.Product.Price * item.Amount;
                        <tr>
                            <td class="cart-product">
                                <a href=""><img src="~/images/@item.Product.Image" alt=""></a>
                            </td>
                            <td class="cart-description">
                                <h4>@item.Product.Name</h4>
                            </td>
                            <td class="cart-price">
                                 <input id="idp" class="number-item" type="number" hidden value="@item.Product.Id">
                                <p>@string.Format("{0:##,#}", item.Product.Price) đ</p>
                            </td>
                            <td class="cart-quantity">
                                <div class="choosenumber">
                                    <a class="plus" href="/Cart/AddCart/@item.Product.Id"> <i class="fa fa-plus"></i> </a>
                                    <input id="update-cart" class="number-item" type="text" name="quantity" value="@item.Amount"
                                            autocomplete="off" size="2">
                                    <a class="minus" href="/Cart/DeleteCart/@item.Product.Id"> <i class="fa fa-minus"></i> </a>
                                </div>
                            </td>
                            <td class="cart-total">
                                <p class="price">Tạm tính: <h3 style="color:#f30c28">@string.Format("{0:##,#}", @total) đ</h3></p>
                            </td>
                            <td class="cart-delete">
                                <a class="cart-quantity-delete" href="/Cart/DeleteCart/@item.Product.Id"><i class="fa fa-times"> Xóa</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="payment">
            <a class="btn btn-success check-out" href="/Cart/Checkout">Thanh toán</a>
            <a class="btn btn-primary check-out" href="/">Tiếp tục mua hàng</a>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var $el = $('#update-cart');
    $el.change(function () {
            debugger;
            //var quantity = $(".quantity_" + $(this).attr("data-id")).val();
            var quantity = document.getElementById("update-cart").value;
            var idproduct = document.getElementById("idp").value;
            $.ajax({
                type: "POST",
                url:"@Url.Action("UpdateCart","Cart")",
                data: {
                    id: idproduct,
                    quantity:quantity
                },
                success: function (result) {
                    window.location.href = '@Url.Action("Index","Cart")';
                }
            });
        });
</script>

